.time-block {
	display: flex;
	margin-bottom: 38px;

	@media (max-width: $md3+px) {
		margin-bottom: 28px;
	}

	&__item {
		text-align: center;
		&:not(:last-child) {
			margin-right: 40px;
		}

		&:nth-child(3) {
			& .time-block__count {
				position: relative;

				&:before {
					position: absolute;
					content: ":";
					top: 45%;
					left: 130%;
					transform: translateY(-50%);
					color: #ff9c91;
				}
			}
		}

	}

	&__count {
		font-family: $seconFontFamily;
		font-weight: 700;
		font-size: 50px;
		line-height: 1.22em;
		color: #ff9c91;
		display: flex;
		flex-direction: column;
		min-width: 45px;
		margin-bottom: -5px;
	}

	&__units {
		font-family: $seconFontFamily;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: #ff9c91;
	}
}
