.testimonials-slider {
	margin: 84px 0 89px;
	position: relative;

	@media (max-width: $md3+px) {
		margin: 70px 0 70px;
	}

	& > .container {
		position: relative;
	}

	&__decor {
		position: absolute;
		top: 306px;
		left: 0;
		width: 312px;
		height: 131px;
		z-index: -1;

		@media (max-width: $md3+px) {
			top: 150px;
		}

		& img {
			width: 100%;
			height: auto;
			transform: rotate(2deg);
		}
	}

	&__head {
		margin-bottom: 34px;

		@media (max-width: $md3+px) {
			margin-bottom: 20px;
		}
	}
	&__body {
		position: relative;
		margin: 0 auto;
		max-width: 850px;
		& .swiper-container {
			width: auto;
			padding: 16px;
			margin: -16px;
		}

		& .promo-slider__control {
			position: static;
			transform: translate(0, 0);
			justify-content: center;
			width: 100%;
			padding-top: 10px;
		}

		& .promo-slider__btn-wrap {
			margin-right: 0;
			position: static;
		}

		@media (min-width: 992px) {
			& .promo-slider__btn-prev {
				position: absolute;
				top: 43%;
				transform: translateY(-50%);
				left: -111px;

				@media (max-width: 1100px) {
					left: -30px;
				}
			}

			& .promo-slider__btn-next {
				position: absolute;
				top: 43%;
				transform: translateY(-50%);
				right: -111px;

				@media (max-width: 1100px) {
					right: -30px;
				}
			}
		}
	}
	&__item {
		position: relative;
		padding: 5px 30px;

		@media (max-width: $md4+px) {
			padding: 5px 5px;
		}
	}

	&__photo {
		display: inline-block;
		position: absolute;
		margin-bottom: 15px;
		top: 4px;
		left: 13px;
		z-index: 4;

		@media (max-width: $md4+px) {
			left: -5px;
		}

		& > span {
			position: relative;
			display: inline-block;
			width: 92px;
			height: 92px;
			z-index: 2;

			@media (max-width: $md4+px) {
				width: 60px;
				height: 60px;
			}
		}

		&:before {
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			width: calc(100% + 14px);
			height: calc(100% + 10px);
			transform: translate(-50%, -50%);
			z-index: -1;
			background-color: #f3f3f3;
		}

		&:after {
			position: absolute;
			content: "";
			top: -13px;
			left: -14px;
			height: 85.86%;
			width: 85.86%;
			border: 1px solid $mainColor;
			z-index: 1;

			@media (max-width: $md4+px) {
				top: -5px;
				left: -5px;
			}
		}
	}

	&__name {
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: $textColor2;
		padding-left: 125px;
		margin-bottom: 8px;

		@media (max-width: $md4+px) {
			text-align: center;
			padding-left: 55px;
			padding-right: 55px;
		}
	}
	&__text {
		margin: 0 auto 0;
		font-size: 20px;
		line-height: 1.2em;
		color: $textColor;
		padding: 39px 43px 38px 125px;
		border: 1px solid $mainColor;

		@media (max-width: $md3+px) {
			font-size: 16px;
		}

		@media (max-width: $md4+px) {
			padding: 40px 20px 20px;
		}
	}

	&__pagination {
		display: flex;
		justify-content: center;
		margin-top: 36px;
	}

	&__btn-prev {
		position: absolute;
		top: 57%;
		transform: translateY(-50%);
		left: -28px;
		z-index: 3;

		@media (max-width: $md3+px) {
			position: static;
			transform: translateY(0%);
		}
	}
	&__btn-next {
		position: absolute;
		top: 57%;
		transform: translateY(-50%);
		right: -14px;
		z-index: 3;

		@media (max-width: $md3+px) {
			position: static;
			transform: translateY(0%);
		}
	}
}
