.get-your-gift-block {
	position: relative;

	margin: 50px 0 172px;

	@media (max-width: $md3+px) {
		margin: 50px 0 70px;
	}

	@media (min-width: 768px) {
		display: flex;
	}

	&:before {
		position: absolute;
		content: '';
		top: 50%;
		right: 44px;
		transform: translateY(-50%);
		height: calc(100% + 60px);
		width: 54.5%;
		border: 1px solid $mainColor;
		z-index: 2;
		pointer-events: none;

		@media (max-width: $md3+px) {
			z-index: -1;
			width: 90%;
			right:auto;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
		}
	}

	&__img {
		flex: 0 1 51%;
		position: relative;
		z-index: 3;

		@media (max-width: $md3+px) {
			padding-bottom: 100%;
		}
	}
	&__body {
		background-color: #fff;
		flex: 0 1 50%;
		min-height: 605px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 4px 15px 30px;
		position: relative;
		z-index: 1;
		margin: 0 auto;

		@media (max-width: 1200px) {
			flex: 0 1 100%;
			max-width: 550px;
		}

		@media (max-width: $md2+px) {
			min-height: 700px;
		}

		@media (max-width: 575px) {
			min-height: 500px;
		}
	}
	&__suptitle {
		font-family: $seconFontFamily;
		font-weight: bold;
		font-size: 50px;
		line-height: 1.22em;
		text-transform: uppercase;
		color: rgba(205, 63, 62, 0.05);
		margin-bottom: -0.2em;
		text-align: center;

		@media (max-width: $md3+px) {
			font-size: 50px;
		}
	
		@media (max-width: 575px) {
			font-size: 38px;
		}
	}
	&__title {
		font-weight: bold;
		font-size: 50px;
		line-height: 1.2222em;
		margin-bottom: 0.6em;
		text-align: center;

		@media (max-width: $md3+px) {
			font-size: 50px;
		}
	
		@media (max-width: 575px) {
			font-size: 38px;
		}
	}

	&__time {
	}

	&__decor-img {
	}

	& a.btn-default {
		margin-bottom: 50px;
	}
}
