

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  'Cormorant', serif;;
$seconFontFamily: 'Cormorant Infant', serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #1C2938;
$textColor2: #a54179;
$titleColor: #1C2938;
$mainColor:  #CD3F3E;
$grey:  rgba(28, 41, 56, 0.7);
$hoverLinkColor:#a54179;