.video {
	margin: 50px 0 50px;
	position: relative;

	& > .container {
		position: relative;
	}

	&__decor {
		position: absolute;
		top: -100px;
		right: -100px;
		z-index: -1;
		width: 529px;
		height: 544px;

		& img {
			width: 100%;
		}

	}

	& .video-block__video-wrap {
		min-height: 500px;

		@media (max-width: $md3+px) {
			min-height: 350px;
		}
	}
}